.wrapper {
	display: block;
}

#content {
	position: relative;
	width: 100%;
}

p {
	padding: 0% 5%;
	background: #fff;
}

.section-heading-left {
	text-align: left;
	color: #52E925;
}

.section-desc-left hr {
	width: 20%;
	border-width: 4px;
	border-color: #000;
	margin-bottom: 15%;
}

.section-img-left {
	border-style: solid;
	border-width: 5px;
}

.section-img {
	box-shadow: 5px 10px 10px;
}

.section-img-right {
	border-style: solid;
	border-width: 5px;
	z-index: 994;	
}

.section-desc-right hr {
	width: 20%;
	border-width: 4px;
	border-color: #000;
	margin-bottom: 15%;
}

.section-heading-right {
	text-align: right;
	position: relative;
	color: #52E925;
	z-index: 995;
}

.new-section {
	margin-top: 20%;
}

.section-btn {
	margin-left: 0px;
	margin-top: 5%;
	background-color: #52E925;
	border: none;
	color: white;
	padding: 8px 15px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

#sidebar {
	min-width: 50px;
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: #fff;
	color: #808080;
	box-shadow: 0px 5px 10px;
	overflow-y: auto; 
}

.table-left-element {
	text-decoration: none !important;
	text-align: center !important;
	cursor: pointer;
}

.table-right-element {
	text-decoration: none !important;
	text-align: left !important;
	padding-right: 2em;
	cursor: pointer;
}

.hidden {
	display: none;
}

.sidebar-header {
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em; 
	text-align: left;
	position: relative;
	cursor: pointer;
}

#sidebar table tr td a {
	text-decoration: none;
	color: #808080;
}

table {
	width: 100%;
}

.nav-item-active {
	border-left: 5px solid #52E925 !important;
}

.nav-icon {
	padding: 1em 1em 1em 1em;
	text-align: center;
	margin-top: 5px;
}

.page-list.hover {
	background: #3BB118;
}

.social-links {
	position: relative;
	padding-top: 150%;
}

.overlay {
	display: none;
	position: fixed;
	/*full screen*/
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	/*middle layer*/
	z-index: 997;
	opacity: 0;
	/*animate the transition*/
	transition: all 0.5s ease-in-out;
}

.overlay.active {
	display: block;
	opacity: 1;
}

#header-contact-btn {
	background-color: #52E925;
	border: none;
	color: white;
	margin-right: 2em; 
	padding: 8px 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	float: right;
}

#header-contact-btn a {
	text-decoration: none;
	color: #fff;
}

.main-header {
	padding-top: 12%;
}

#toggle-text h3 {
	font-family: 'Share Tech Mono', monospace;
	display: inline;
}

footer {
	background: #3D433C;
	padding-top: 5%;
	color: #fff;
	text-align: center;
	padding-bottom: 2%;
	margin-top: 7%
}

footer p {
	color: #fff;
	background: #3D433C;
}

.contact-link {
	text-align: center;
}

.contact-link a {
	text-decoration: none;
	color: #fff;
	padding: 1em;
}

.slide-div {
	background: rgb(158, 212, 209);
	color: #fff;
	padding-top: 5%;
	padding-bottom: 5%;
	-webkit-box-shadow: inset 0px 10px 15px 0px rgba(0,0,0,0.75),  inset 0px -10px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 10px 15px 0px rgba(0,0,0,0.75), inset 0px -10px 15px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 10px 15px 0px rgba(0,0,0,0.75), inset 0px -10px 15px 0px rgba(0,0,0,0.75);
}

.slide-div p {
	background: rgba(225, 0, 0, 0);
}

.slide-div-img {
	margin: 0 5%;
	padding: 0 5%;
}

.devicon-icons {
	padding: 0 2%
}

.devicon-icons table tr td{
	padding: 5%;
}

.header-hello {
	font-family: 'Poiret One', cursive;
}

#copyright {
	color: #808080;
	font-size: 8pt;
}

@media only screen and (max-device-width: 767px) {

    .section-heading-left {
        font-size: 37pt;
        margin-left: 50px;
        margin-top: 180px; 
    }
    
    .section-desc-left {
        padding: 0% 5%;
    }
    
    .section-img-left {
        position: absolute;
        left: 0;
		margin-top: 5%;
		margin-left: 22px;
    }
    
    .section-img {
        width: 50%;
    }
    
    .section-img-right {
        position: absolute;
        right: 0;
        top: -550px;
    }
    
    .section-desc-right {
        margin-left: 5%;
    }
    
    .section-heading-right {
        font-size: 38pt;
        margin-right: 5%;
        margin-top: 100px; 
    }

    .top-bar {
        position: fixed;
        background: #fff;
        top: 0;
        width: 100%;
        min-height: 3em;
        max-height: 3em;
        z-index: 999;
        color: #808080;
        -webkit-box-shadow: -5px 7px 10px -5px rgba(0,0,0,0.58);
        -moz-box-shadow: -5px 7px 10px -5px rgba(0,0,0,0.58);
        box-shadow: -5px 7px 10px -5px rgba(0,0,0,0.58);
    }
    
    .main-header {
        padding-left: 5%; 
    }
    
    .main-header h3 {
        font-size: 20pt;
    }
    
    .main-header h1 {
        font-size: 50pt;
    }
    
    #top-padding {
        padding-top: 23%;
    }
    
    #toggle-text h3 {
        font-size: 18pt;
	}
	
	.slide-div p {
		padding: 5%;
	}
	
	.slide-div-img {
		width: 100%;
		margin: 0 5%;
		padding: 0 5%;
	}
    
}

@media only screen and (min-device-width: 768px) {

    .section-heading-left {
        font-size: 46pt;
        margin-left: -80px;
    }
    
    .section-desc-left {
		margin-left: 50px;
		padding-right: 5%;
    }
    
    .section-img-left {
        width: 450px;
    }
    
    .section-img-right {
        width: 450px;
        position: relative;
    }
	
    .section-desc-right {
		margin-left: 0px;
		padding-left: 50px;
        padding-right: 50px;
    }
    
    .section-heading-right {
        font-size: 46pt;
        margin-left: 0;
        padding-left: 0;
        margin-right: -80px;
    }
    
    .main-header {
        padding-top: 12%; 
    }
    
    .main-header h3 {
        font-size: 20pt;
    }
    
    .main-header h1 {
        font-size: 50pt;
    }
    
    #toggle-text h3 {
        font-size: 30pt;
        display: inline;
	}
	
	.slide-div-img {
		width: 100%;
	}

}

@media only screen and (min-device-width: 768px) and (max-device-width: 992px) {
	.section-img {
        width: 100%;
    }
}